body {
    background-color: black;
}
h2 {
    color: black;
}
.input_field {
    color:black
}
p {
    color: white
}

img{
    height: 300px;
    width: 1000px;
    margin-left: 13.2%;
    margin-right: 30%;
}

section {
    background-color: white;
    color: black;
}